<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SkyRover.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <applicationSettings>
    <SkyRover.Properties.Settings>
      <setting name="OpenAI_API_Key" serializeAs="String">
        <value>YOUR_OPENAI_API_KEY</value>
      </setting>
      <setting name="Google_AI_API_Key" serializeAs="String">
        <value>YOUR_GOOGLE_AI_API_KEY</value>
      </setting>
      <setting name="Anthropic_API_Key" serializeAs="String">
        <value>YOUR_ANTHROPIC_API_KEY</value>
      </setting>
      <setting name="DeepSeek_API_Key" serializeAs="String">
        <value>YOUR_DEEPSEEK_API_KEY</value>
      </setting>
      <setting name="Grok_API_Key" serializeAs="String">
        <value>YOUR_GROK_API_KEY</value>
      </setting>
      <setting name="Vehicle_ID" serializeAs="String">
        <value>SR-001</value>
      </setting>
      <setting name="Max_Speed" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="Max_Altitude" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Teleport_Distance_Limit" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="Emergency_Contacts" serializeAs="String">
        <value>ATC:122.8, Emergency:911, Maintenance:+1234567890</value>
      </setting>
    </SkyRover.Properties.Settings>
  </applicationSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>